.hero {
  height: 100vh;
  background-image: url("../../assets/images/bg-hero.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(15, 23, 42, 0.7),
    rgba(15, 23, 42, 0.9)
  );
}

.hero-overlay {
  position: relative;
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  color: white;
}

.hero h2 {
  font-size: 3.5rem;
  line-height: 1.2;
}

.hero p {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  color: var(--text-light);
}

.hero button {
  padding: 1rem 2.5rem;
  border-radius: 999px;
  background: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.05);
}
