.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 4rem;
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(10px);
  color: white;

  z-index: 100;
}

.header h1 {
  font-size: 1.5rem;
  color: var(--accent);
}

.header nav {
  display: flex;
  gap: 2rem;
}

.header nav a {
  position: relative;
  font-weight: 500;
}

.header nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: 0.3s;
}

.header nav a:hover::after {
  width: 100%;
}
