.footer {
  background: linear-gradient(
    to top,
    #020617,
    #0f172a
  );
  color: var(--text-light);
  padding-top: 4rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 4rem 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
}

.footer-brand h2 {
  font-size: 1.8rem;
  color: var(--accent);
}

.footer-brand p {
  margin-top: 1rem;
  line-height: 1.6;
  color: #cbd5f5;
}

.footer-links h3,
.footer-social h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.footer-links a,
.footer-social a {
  display: block;
  margin-bottom: 0.6rem;
  color: #cbd5f5;
  transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: var(--accent);
  transform: translateX(5px);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
  color: #94a3b8;
}


/* Reponsividade */ 
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    padding: 0 2rem 3rem;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-links,
  .footer-social {
    text-align: center;
  }
}
