/* Remova ou comente isso no src/index.css */
body {
  margin: 0;
  /* display: flex;  <-- ISSO CENTRALIZA TUDO NO MEIO DA TELA E QUEBRA O FLOW */
  /* place-items: center; <-- ISSO TAMBÉM */
  min-width: 320px;
  min-height: 100vh;
}